@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --font1: verdana, geneva;
    --font2: 'Passion One', cursive;
    --font3: 'sriracha', cursive;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 175px;
    display: block;
    font-family: var(--font2);
}

header > h1 {
    margin: auto;
    padding-top: 50px;
    font-size: 3em;
    font-weight: normal;
    font-variant: small-caps;
}

header > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header > p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    text-decoration: underline;
}

section.normal {
    background-color: white;
    padding-bottom: 10vh;
    padding-top: 10vh;
    padding-left: 30px;
}

.normal > p {
    font-size: 3.5vw;
    font-family: var(--font3);
    line-height: 2em;
    padding-bottom: 2em;
}

.imagem {
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    line-height: 2em;
    padding-left: 30px;
    padding-top: 10vw;
    padding-bottom: 10vw
}

.imagem#img1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.imagem#img2 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.imagem > p {
    font-family: var(--font3);
    font-size: 3.5vw;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.541);
    display: inline-block;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font1);
    text-decoration: none;
    font-weight: normal;
    padding: 10px 35px 10px 35px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
