@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(90, 29, 148);
    font-family: Arial, Helvetica, sans-serif;
}

#login {
    height: 590px;
    width: 340px;
    border-radius: 20px;
    margin: auto;
    margin-top: 5vh;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.300);
}

#formulario {
    background-color: white;
    width: 340px;
    height: 359px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#formulario > h1 {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    padding-bottom: 5px;
}

#formulario > p {
    padding: 10px;
    text-indent: 5px;
}

#inome {
    padding: 2px;
}


#inome {
    margin: auto;
    background-color: purple;
    height: 40px;
    width: 330px;
    border-radius: 10px;
}

#isenha {
    margin: auto;
    background-color: purple;
    height: 44px;
    width: 334px;
    bottom: 13px;
    position: relative;
    border-radius: 10px;
}

img {
    height: 200px;
    width: 340px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#key {
    color: white;
    font-weight: bold;
    position: relative;
    top: 9px;
    left: 12px;
}

#person {
    color: white;
    font-weight: bold;
    position: relative;
    top: 3px;
    left: 5px;
    display: inline-block;
}

#nome {
    padding: 5px;
    position: relative;
    width: 275px;
    top: 0px;
    left: 13px;
    border-radius: 10px;
    height: 26px;
}

#pass {
    padding: 5px;
    position: relative;
    width: 275px;
    top: 2px;
    left: 15px;
    border-radius: 10px;
    height: 26px;
}

#enter {
    display: block;
    height: 44px;
    width: 334px;
    position: relative;
    left: 3px;
    bottom: 8px;
    background-color: rgb(60, 187, 187);
    border: 0px;
    border-radius: 10px;
}

#forg {
    display: block;
    height: 44px;
    width: 334px;
    position: relative;
    bottom: 3px;
    left: 3px;
    border-radius: 10px;
}